{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
  {% translate "You Uploaded Images" %}
{% endblock title %}
{% block body %}
  {% if images %}
    {% for image in images %}
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <img src="{{ image.image.url }}"
                   class="card-img-top"
                   alt="Original Image"
                   data-toggle="modal"
                   data-target="#originalModal{{ forloop.counter }}">
              <div class="card-body">
                <h5 class="card-title">Первоначальное изображение</h5>
                {% comment %} <p class="card-text">Описание</p> {% endcomment %}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <img src="{{ image.image.url }}"
                   class="card-img-top"
                   alt="Processed Image"
                   data-toggle="modal"
                   data-target="#processedModal{{ forloop.counter }}">
              <div class="card-body">
                <h5 class="card-title">Обработанное изображение</h5>
                <p class="card-text">Description of the processed image.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal for Original Image -->
      <div class="modal fade"
           id="originalModal{{ forloop.counter }}"
           tabindex="-1"
           role="dialog"
           aria-labelledby="originalModalLabel{{ forloop.counter }}"
           aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="originalModalLabel{{ forloop.counter }}">Первоначальное изображение</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="{{ image.image.url }}" class="img-fluid" alt="Original Image">
            </div>
          </div>
        </div>
      </div>
      <!-- Modal for Processed Image -->
      <div class="modal fade"
           id="processedModal{{ forloop.counter }}"
           tabindex="-1"
           role="dialog"
           aria-labelledby="processedModalLabel{{ forloop.counter }}"
           aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="processedModalLabel{{ forloop.counter }}">Обработанное изображение</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="{{ image.image.url }}" class="img-fluid" alt="Processed Image">
            </div>
          </div>
        </div>
      </div>
      <br>
    {% endfor %}
  {% else %}
    <div>Не загружено ни одного файла</div>
  {% endif %}
{% endblock body %}
